.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #101524;
  box-shadow: 0 5px 10px rgba(1, 2, 1, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.heads {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding: 20px;
  display: block;
  color: white;
}

.logo {
  color: #08a6ff;
  list-style-type: none;
  text-decoration: none;
  margin-left: 1.5%;
  margin-top: -0.2%;
}

.menu-icon {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 12px;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 12px;
}

.header ul li {
  margin-left: 20px;
  font-size: 16px;
  padding: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.header ul li:hover {
  background-color: #333;
  color: #08a6ff;
}

/* Media query for screens with a max-width of 768px */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .header ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    background-color: #101524;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    z-index: 999;
  }

  .header ul li {
    margin-left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }

  .header ul li:hover {
    background-color: #333;
    color: #08a6ff;
  }

  .header ul.active {
    display: flex;
  }
  .close-icon {
    position: absolute;
    top: 20px;
    right: 30%;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .close-icon:hover {
    
    color: #08a6ff;
    cursor: pointer;
  }
}
