.t-part_1{
    position: absolute;
width: 100%;
height: 94px;
left: 0px;
top: 348px;

background: #D9D9D9;
}
.staff-input{
    position: absolute;
width: 370px;
height: 48px;
left: 960px;
top: 12px;
border-radius: 9px;
border:none;
padding-left: 60px;

}
.staff-input:focus{
    outline: none;
}
.search-icon{
    position: absolute;
    top: 29px;
    left: 979px;
}
.teacher-card{
    position: absolute;
width: 379px;
height: 395px;
left: 10px;
top: 139px;

/* background: #F9FBFD; */
/* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
border-radius: 5px;
}
.teacher-card_1{
    position: absolute;
    width: 379px;
    height: 395px;
    left: 420px;
    top: 139px;
    
    /* background: #F9FBFD; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.teacher-card_2{
    position: absolute;
    width: 379px;
    height: 395px;
    left: 830px;
    top: 139px;
    
    /* background: #F9FBFD; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}
.teacher-card_3{
    position: absolute;
    width: 379px;
    height: 395px;
    left: 10px;
    top: 339px;
    
    /* background: #F9FBFD; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.teacher-card_4{
    position: absolute;
    width: 379px;
    height: 395px;
    left: 420px;
    top: 339px;
    
    /* background: #F9FBFD; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.teacher-card_5{
    position: absolute;
    width: 379px;
    height: 395px;
    left: 830px;
    top: 339px;
    
    /* background: #F9FBFD; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

.card-kevn{
    position: relative;
    top: 1000px;
}